*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
main{
    width: 60%;
    height: 60%;
}
section{
    padding: 30px;
}
a:hover{
    color: black;
}
a:active{
    color: red;
}

span{
    font-weight: bold;
}

input[type="email"]{
    color: brown;
}